<footer class="bg-gray-e">
    <div class="container">
        <h2 class="row-start-1 row-end-2 col-start-1 col-end-2
                    text-xl text-gray-2
                    md:text-2xl">
            Let's connect <span class="text-gray-8">digitally</span>.
        </h2>
        <nav class="row-start-2 row-end-3 col-start-1 col-end-3
                    flex items-center
                    md:row-start-1 md:row-end-2 md:col-start-3 md:col-end-5
                    md:justify-self-end">
            {% for svg in site.data.sitemap %}
            <a class="mr-4" href="{{ svg.href | relative_url }}"
               aria-label="{{ svg.name }}">
                <svg class="stroke-current text-gray-3"
                     viewBox="0 0 40 40" height="40" width="40" xmlns="http://www.w3.org/2000/svg">
                    <g transform="matrix(1.6666666666666667,0,0,1.6666666666666667,0,0)">
                        {{ svg.path }}
                    </g>
                </svg>
            </a>
            {% endfor %}
        </nav>
        <div class="col-start-1 col-end-3 row-start-3 row-end-4
                    text-gray-2">
            <p class="inline">
                © JT Feng
            </p>
            <a class="ml-3"
               href="/privacy">
                Privacy
            </a>
            <a class="ml-3"
               href="/terms">
                Terms
            </a>
        </div>
    </div>
</footer>
