<footer class="bg-gray-3">
    <div class="container text-gray-c">
        <div class="col-start-1 col-end-3">
            <p>
                Copyright © {{ site.time | date: "%Y" }} {{ site.author }}
            </p>
            <div class="mt-2">
                <a class=""
                   href="{{ '/privacy' | relative_url }}">
                    Privacy
                </a>
                <a class="ml-3"
                   href="{{ '/terms' | relative_url }}">
                    Terms
                </a>
                <a class="ml-3"
                   href="{{ '/disclaimer' | relative_url }}">
                    Disclaimer
                </a>
            </div>
        </div>
    </div>
</footer>
